.App {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App__footer {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
}

.App__buttons {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 350px;
}

.App__flash {
  position: relative;
  display: block;
  font-size: 1.5rem;
  padding: 1rem;
  text-align: center;
}