.Header {
  position: relative;
  display: flex;
  justify-content: center;
}

.Header__heading {
  font-size: 1.75rem;
  padding-top: 1.25rem;
  padding-bottom: 0.5rem;
  background: no-repeat bottom/contain url('../../assets/svg/underline.svg');
}